:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --card-set-gap: 30px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-bottom: 0;
}
.contacts-address-item.no-margin {
  margin-top: 0;
}
.page-header {
  border-bottom: 1px solid #ececec;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

/*Логотип сайта*/
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.accent {
  color: var(--title-text-color);
}
.accent-logo {
  color: var(--primary-white-color);
}

/*Список навигации*/

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav-item + .site-nav-item {
  margin-left: 50px;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link {
  position: relative;
}
.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

.site-nav-link.current {
  color: var(--accent-color);
}

/*Список контактов хедер*/
.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-icons-mailo {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.contacts-icons-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/*Физичиский адрес, список контактов в футере*/

.address {
  font-style: normal;
}
.contacts-address {
  margin-top: 20px;
}

.contacts-address-link {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-address-link:hover,
.contacts-address-link:focus {
  color: var(--accent-color);
}

.contacts-address-text {
  color: var(--primary-white-color);
}

.contacts-address-item {
  margin-top: 9px;
}
.address-footer {
  flex-grow: 1;
}

/*секция Герой*/

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(196, 196, 196, 1);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../imeges/hero-img.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  text-align: center;
  padding: 200px 0;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: 0px;
}
.hero-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/*все заголовки */
.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*список Особенности*/

.options {
  display: flex;
}
.options-item {
  width: 270px;
  margin-right: 30px;
}

.options-item:nth-child(4n) {
  margin-right: 0;
}

.options-icons {
  display: flex;
  justify-content: center;

  padding-top: 25px;
  padding-bottom: 25px;
  width: 270px;
  height: 120px;

  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.options-item-icons {
  width: 70px;
  height: 70px;
}

.options-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.options-text {
  color: var(--primary-text-color);
}

/*список Работа фото*/
.work {
  display: flex;
}

.work-item {
  margin-right: 30px;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.work-thumb {
  position: relative;
}
.work-label-text {
  color: #ffffff;

  font-weight: 700px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.work-label {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
}

/* список команды, фото*/
.team-color {
  background-color: #f5f4fa;
}
.team {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));

  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-text {
  margin-top: 10px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
}
.team-tumb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team-link {
  color: #afb1b8;
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50px 50px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team-icons-link {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team-icons-item + .team-icons-item {
  margin-left: 10px;
}

/*Клиенты*/
.clients {
  display: flex;
  justify-content: center;
}
.clients-link {
  color: #afb1b8;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients-item + .clients-item {
  margin-left: 30px;
}
/*СОЦСЕТИ ФУТЕР*/
.footer-container {
  display: flex;
  align-items: baseline;
}
.social-footer {
  margin-left: 70px;
}
.footer-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #2196f3;
}

.footer-icons-link {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-icons {
  display: flex;
  margin-top: 20px;
}

.footer-icons-item + .footer-icons-item {
  margin-left: 10px;
}

.social-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.64;
  text-transform: uppercase;
}

/*Порфолио*/

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.filter-button {
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: auto;
  border: 0px;
}

.filter-button {
  color: var(--title-text-color);
  background-color: #f5f4fa;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*список проэктов*/
.projects {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-set-gap));
  margin-right: calc(-1 * var(--card-set-gap));
}

.projects-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-right: var(--card-set-gap);
}

.projects-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link:focus,
.projects-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-text {
  margin-top: 4px;
  margin-bottom: 0px;

  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
/*card*/
.content-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects-text {
  margin-top: 4px;
  margin-bottom: 0px;
}

.projects-card {
  position: relative;
  overflow: hidden;
}

.projects-card-label {
  position: absolute;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-card-text {
  color: #ffffff;

  font-size: 18px;
  line-height: 1.56;
}

.projects-link:hover .projects-card-label,
.projects-link:focus .projects-card-label {
  transform: translateY(0);
}
/*мадальное окно*/
.backdrop {
  position: fixed;

  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;

  border: rgba(0, 0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50px;

  color: #000000;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.modal-button:hover,
.modal-button:focus {
  color: #2196f3;
}

/*Форма модального окна*/

.form {
  width: 100%;
  padding: 40px;
}
.form-title {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.43;
  text-align: center;
  margin-bottom: 12px;
}
.form-group {
  margin-bottom: 10px;
}

.form-group-more {
  position: relative;
  flex-direction: column;
}
.form-group-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-group-icon {
  fill: #2196f3;
}

.form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.textarea {
  margin-bottom: 20px;
}

.form-input {
  min-height: 40px;
  min-width: 448px;
  padding-left: 42px;
  margin: 0;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #757575;

  margin-bottom: 4px;
}

.form-textarea {
  display: block;
  resize: none;

  min-height: 120px;
  min-width: 448px;
  padding: 12px 16px;
  margin: 0;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-textarea:focus::placeholder {
  color: var(--accent-color);
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  border: 0px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}

.form-checkbox {
  margin-bottom: 30px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}
.checkbox-input:checked + .checkbox-label .icon {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  width: 16px;
  height: 15px;

  fill: #ffffff;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}

.checkbox-label-text {
  text-decoration: underline var(--accent-color);
  color: var(--accent-color);
}
/* Футер форма */
.subscription-form {
  margin-left: 93px;
}

.form-text {
  display: block;
  margin-bottom: 20px;

  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.64;
  text-transform: uppercase;
}

.subscription {
  display: flex;
  position: relative;
}

.subscription-input {
  width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscription-input:focus + .subscription-label,
.subscription-input:not(:placeholder-shown) + .subscription-label {
  transform: translateX(-70px);
}
.subscription-input:focus {
  background-color: #ffffff;
}

.subscription-label {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;

  left: 3%;
  top: 30%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button-icons {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.submit-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;

  padding: 10px 28px 10px 29px;
  margin-left: 12px;
  border-radius: 4px;
  min-width: 200px;
  border: 0px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #2f303a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
